<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "head.html" . }}
  <style>
    @media screen and (max-width: 768px) {
      .mobile-header {
        display: flex;
        align-items: center;
      }
    }

    .mobile-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }

    .mobile-avatar-link {
      line-height: 0;
    }
  </style>
</head>

<body class="sidebar-layout">
  <div class="container">
    <header class="mobile-header">
      <button class="mobile-menu-btn"><i class="fas fa-bars"></i></button>
      <a href="{{ .Site.BaseURL }}" class="mobile-avatar-link">
        <img src="{{ .Site.Params.profileMode.imageUrl | absURL }}" alt="Avatar Image" class="mobile-avatar">
      </a>
      <a href="{{ .Site.BaseURL }}">
        <div>{{ .Site.Title }}</div>
      </a>
      <button class="mobile-search-btn"><i class="fas fa-search"></i>
      </button>
    </header>

    <!-- Sidebar -->
    <aside class="sidebar">
      <button class="mobile-close-btn">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <div class="sidebar-header">
        <a href="{{ .Site.BaseURL }}" class="avatar-link"><img src="{{ .Site.Params.profileMode.imageUrl | absURL }}"
            alt="Avatar Image"></a>
        <a href="{{ .Site.BaseURL }}">
          <div class="name-title">{{ .Site.Title }}</div>
        </a>
        <p>{{ .Site.Params.profileMode.subtitle }}</p>
      </div>


      <nav class="sidebar-nav">
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="{{ if or ($.Page.IsMenuCurrent " main" .) ($.Page.HasMenuCurrent "main" .)
          }}active{{ end }}">
          <span class="icon-container">{{ .Pre }}</span> {{ .Name }}
        </a>
        {{ end }}
      </nav>

      <div class="sidebar-footer">
        <a href="https://github.com/NoobGajen" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/GajendraMahato" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/nullPi" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://x.com/NoobGajen" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://profile.hackthebox.com/profile/019c4aa3-6214-7066-a1fb-453e70ef42e9" target="_blank"><i
            class="fab fa-hackthebox"></i></a>
        <a href="https://tryhackme.com/p/TheLinuxLover" target="_blank"><i class="fas fa-user-secret"></i></i></a>
        <a href="{{ .Site.BaseURL }}index.xml" target="_blank">
          <i class="fa-solid fa-rss"></i>
        </a>
      </div>
    </aside>

    <!-- Main content -->
    <main class="content">
      <header class="topnav">
        <div id="search-container" class="search-container">
          <span class="absolute left-3 top-2.5 text-gray-400">
            <i class="fas fa-search"></i>
          </span>
          <input id="search-input" type="text" placeholder="Search..."
            class="w-full border rounded-lg py-2 pl-10 pr-4 focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>
      </header>
      <div class="content-container">
        <div class="inside">{{ block "main" . }}{{ end }}
          <div style="margin-top: auto">
            <div class="content-footer">
              <div>© 2025 <a href="https://x.com/NoobGajen">Gajendra Mahato</a>. Some rights reserved.</div>
              <div>Using the <a href="https://github.com/adityatelange/hugo-PaperMod">PaperMod</a> theme for <a
                  href="https://gohugo.io/">Hugo</a>.</div>
            </div>
          </div>

        </div>
        {{ partial "right-sidebar.html" . }}


        <div class="search-results-wrapper">
          <div class="search-results-list">
          </div>
        </div>
      </div>
    </main>
  </div>

  {{ if .IsPage }}
  <button id="scrollToTop" class="scroll-to-top">
    <i class="fa-solid fa-arrow-up"></i>
  </button>
  {{ end }}

  <div class="mobile-search-layout">
    <header>
      <div class="search-container"><span class="absolute left-3 top-2.5 text-gray-400">
          <i class="fas fa-search"></i>
        </span>
        <input id="mobile-search-input" type="text" placeholder="Search..."
          class="w-full border rounded-lg py-2 pl-10 pr-4 focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div><button class="cancel-btn">Cancel</button>
    </header>
    <div class="search-results-list mobile-search-results-list"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
  {{ $script := resources.Get "js/main.js" | minify | fingerprint }}
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
</body>

</html>